.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.total span {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.actions {
  text-align: center;
}

.actions button {
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 10%;
  background-color: transparent;
  border: 2px solid #555;
  cursor: pointer;
  transition: 0.5s;
}

.actions button:active {
  transform: translateY(3px);
  box-shadow: 0 1px #000;
}
