.main {
  height: 70vh;
  padding: 2rem 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(../assets/pexels-pixabay-41949.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: 10%;
}
